bargain RCDATA "image\\ico\\bargain.png"
black_bargain RCDATA "image\\ico\\black_bargain.png"
black_coupon RCDATA "image\\ico\\black_coupon.png"
black_docs RCDATA "image\\ico\\black_docs.png"
black_employee RCDATA "image\\ico\\black_employee.png"
black_garbage RCDATA "image\\ico\\black_garbage.png"
black_offer RCDATA "image\\ico\\black_offer.png"
black_printer RCDATA "image\\ico\\black_printer.png"
black_profile RCDATA "image\\ico\\black_profile.png"
black_sale RCDATA "image\\ico\\black_sale.png"
black_settings RCDATA "image\\ico\\black_settings.png"
coupon RCDATA "image\\ico\\coupon.png"
creditcard RCDATA "image\\ico\\credit-card.png"
docs RCDATA "image\\ico\\docs.png"
employee RCDATA "image\\ico\\employee.png"
garbage RCDATA "image\\ico\\garbage.png"
offer RCDATA "image\\ico\\offer.png"
printer RCDATA "image\\ico\\printer.png"
profile RCDATA "image\\ico\\profile.png"
sale RCDATA "image\\ico\\sale.png"
settings RCDATA "image\\ico\\settings.png"
black_creditcard RCDATA "image\\ico\\black_creditcard.png"
pg_money RCDATA "image\\Anverso_da_cédula_de_20_reais.fw.png"
pg_creditcard RCDATA "image\\creditcard.fw.png"
