carrinho RCDATA "Imagens\\Carrinho Branco.png"
black_carrinho RCDATA "Imagens\\Carrinho.png"
cartao_de_credito RCDATA "Imagens\\Cartão de Crédito Branco.png"
black_cartao_de_credito RCDATA "Imagens\\Cartão de Crédito.png"
cliente RCDATA "Imagens\\Cliente Branco.png"
black_cliente RCDATA "Imagens\\Cliente.png"
configuracao RCDATA "Imagens\\Configuração Branco.png"
black_configuracao RCDATA "Imagens\\Configuração.png"
cupom RCDATA "Imagens\\Cupom Branco.png"
black_cupom RCDATA "Imagens\\Cupom.png"
desconto_porcentagem RCDATA "Imagens\\Desconto Porcentagem Branco.png"
black_desconto_porcentagem RCDATA "Imagens\\Desconto Porcentagem.png"
dinheiro RCDATA "Imagens\\Dinheiro Branco.png"
black_dinheiro RCDATA "Imagens\\Dinheiro.png"
black_impressora RCDATA "Imagens\\Impressora.png"
impressora RCDATA "Imagens\\Impressora-Branco.png"
lixeira RCDATA "Imagens\\Lixeira Branco.png"
black_lixeira RCDATA "Imagens\\Lixeira.png"
papel RCDATA "Imagens\\Papel Branco.png"
black_papel RCDATA "Imagens\\Papel.png"
vendedor RCDATA "Imagens\\Vendedor Branco.png"
black_vendedor RCDATA "Imagens\\Vendedor.png"
pg_creditcard RCDATA "Imagens\\Cartao-de-Crédito.png"
pg_money RCDATA "Imagens\\Nota-de-Dinheiro.png"
