menu_pagamento RCDATA "img\\approve-invoice.png"
menu_drink RCDATA "img\\cocktail.png"
menu_food RCDATA "img\\fork.png"
menu_config RCDATA "img\\settings.png"
cat_coffee RCDATA "img\\coffee-cup.png"
cat_tea RCDATA "img\\green-tea.png"
cat_beer RCDATA "img\\pint.png"
cat_juice RCDATA "img\\tomato-juice.png"
cat_wine RCDATA "img\\wine-glass.png"
bebida1 RCDATA "img\\19878601.jpg"
bebida2 RCDATA "img\\423e34c4d3fc01929e0fb94e448edaf6--starbucks-caramel-frappuccino-starbucks-drinks.jpg"
bebida3 RCDATA "img\\download (1).jpg"
bebida4 RCDATA "img\\download.jpg"
bebida5 RCDATA "img\\edelmanstrip_106787_0_full.jpg"
bebida6 RCDATA "img\\galeria_18962_0107171953.jpg"
bebida7 RCDATA "img\\icedcafemocha.jpg"
bebida8 RCDATA "img\\sb-espresso.png"
bebida9 RCDATA "img\\sp44844433_sc7.jpg"
bebida10 RCDATA "img\\Starbucks-Frappuccino-Morango.jpg"
bebida11 RCDATA "img\\starbucksfrutasvermelhas300.jpg"
arrow_down RCDATA "img\\arrow_down.png"
arrow_up RCDATA "img\\up-arrow.png"
