menu_food RCDATA "Imagens\\food.png"
menu_configuracao RCDATA "Imagens\\configuracao.png"
menu_drink RCDATA "Imagens\\drink.png"
menu_pagamento RCDATA "Imagens\\pagamento.png"
sub_cafe RCDATA "Imagens\\cafe.png"
sub_cerveja RCDATA "Imagens\\cerveja.png"
sub_suco RCDATA "Imagens\\suco.png"
sub_vinho RCDATA "Imagens\\vinho.png"
sub_cha RCDATA "Imagens\\cha.png"
arrow_down RCDATA "Imagens\\down.png"
arrow_up RCDATA "Imagens\\up.png"
opc_checkout RCDATA "Imagens\\checkout.png"
opc_historico RCDATA "Imagens\\history-clock-button.png"
opc_order RCDATA "Imagens\\list.png"
bebida1 RCDATA "Imagens\\starbucksfrutasvermelhas300.jpg"
bebida11 RCDATA "Imagens\\19878601.jpg"
bebida2 RCDATA "Imagens\\423e34c4d3fc01929e0fb94e448edaf6--starbucks-caramel-frappuccino-starbucks-drinks.jpg"
bebida4 RCDATA "Imagens\\download (1).jpg"
bebida3 RCDATA "Imagens\\download.jpg"
bebida5 RCDATA "Imagens\\edelmanstrip_106787_0_full.jpg"
bebida6 RCDATA "Imagens\\galeria_18962_0107171953.jpg"
bebida7 RCDATA "Imagens\\icedcafemocha.jpg"
bebida8 RCDATA "Imagens\\sb-espresso.png"
bebida9 RCDATA "Imagens\\sp44844433_sc7.jpg"
bebida10 RCDATA "Imagens\\Starbucks-Frappuccino-Morango.jpg"
