menu_food RCDATA "Imagens\\food.png"
menu_configuracao RCDATA "Imagens\\configuracao.png"
menu_drink RCDATA "Imagens\\drink.png"
menu_pagamento RCDATA "Imagens\\pagamento.png"
sub_cafe RCDATA "Imagens\\cafe.png"
sub_cerveja RCDATA "Imagens\\cerveja.png"
sub_suco RCDATA "Imagens\\suco.png"
sub_vinho RCDATA "Imagens\\vinho.png"
sub_cha RCDATA "Imagens\\cha.png"
