menu_pagamento RCDATA "img\\approve-invoice.png"
menu_drink RCDATA "img\\cocktail.png"
menu_food RCDATA "img\\fork.png"
menu_config RCDATA "img\\settings.png"
cat_coffee RCDATA "img\\coffee-cup.png"
cat_tea RCDATA "img\\green-tea.png"
cat_beer RCDATA "img\\pint.png"
cat_juice RCDATA "img\\tomato-juice.png"
cat_wine RCDATA "img\\wine-glass.png"
